@import url('https://fonts.googleapis.com/css?family=PT+Serif|Ruslan+Display');
html {
  height: 100%;
}
body {
  margin: 0;
  min-height: 100%;
  background-image: url(./images/background.jpg);
  font-family: 'Ruslan Display', cursive;
  text-shadow: -2px 0 black, 0 2px black, 2px 0 black, 0 -2px black;
  color: white;
  display: flex;
  flex-direction: column;
  justify-content: flex-starcet;
  text-align: center;
}
main {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-content: center;
  align-items: center;
}
aside {
  border: 2px solid white;
  flex-direction: row-reverse;
  border-radius: 10px;
  height: 75px;
  width: 100px;
  margin: 10px 5px 5px 5px;
  line-height: .5;
  background-image: url(./images/blackfelt.png);
}
span {
  display: flex;
  flex-direction: row'
}
footer {
  display: flex;
  flex-direction: column;
  align-items: center;
}
footer div {
  height: 65px;
  width: 240px;
}
button {
  width: 100px;
  height: 50px;
  text-shadow: -1px 0 black, 0 1px black, 0 1px black, -1px 0 black;
  color: white;
  background-color: darkred;
  border-radius: 10px;
  margin: 10px 5px 0 5px;
  font-family: 'Ruslan Display', cursive;
  border-color: pink black black pink;
}
:root {
  --aspect-ratio: 1056px/691;
}
.dealer-hand, .player-hand{
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  background-image: url(./images/blackfelt.png);
  align-items: center;
  border: 2px solid white;
  border-radius: 10px;
  height: 85px;
  width: 300px;
  margin: 10px 0 0 0;
  animation: 1s 
}
.dealer-hand img, .player-hand img {
  width: 50px;
  height: calc(var(--aspect-ratio) * 50);
  margin: 0 5px;
  animation: deal 1s linear;
  border-radius: 10px;
}
.hideme {
  display: none;
}
.popin {
  animation: slideinright ease-in-out 3s;
  transform-origin: center -20px;
}
@keyframes deal {
  0% {
    margin-left:-100%;
  }
  100% {
    margin-left: 0;
  }
}
